@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    height: 100vh;
    font-family: "Roboto", sans-serif;
}

#root {
    height: 100%;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    flex: 1;
}

form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}