.inputForm {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.175);
    border-radius: 10px;
    padding: 0 20px 20px 20px;
    height: calc(100% - 60px);
    width: 600px;
}


input[type="text"], input[type="tel"], input[type="file"] {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f7f7f7;
    box-shadow: 1px 1px 5px rgb(0 0 0 / 10%);
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

input[ŧype="file"] {
    height: 42px;
}

.education-header, .experience-header {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.education-header-left, .experience-header-left {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}


.education-header button, .experience-header button {
    border: 0;
    padding: 6px;
    background-color: #1D3557;
    color: white;
    border-radius: 8px;
}

.example-button {
    color: white;
    background-color: #C25C0E;
    border-radius: 5px;
    border: 0;
    padding: 10px;
    font-size: 1em;
}

.reset-button {
    color: white;
    background-color: #B3211E;
    border-radius: 5px;
    border: 0;
    padding: 10px;
    font-size: 1em;
}

.buttons-container {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
    width: 100%;
}

.pdf-button {
    color: white;
    background-color: #1BA148;
    border-radius: 5px;
    border: 0;
    padding: 10px;
    font-size: 1em;
}

.page-navigation {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100%;
    display: flex;
    gap: 10px;
}

.page-navigation button {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    background-color: #F7F7F7;
    border: 1px solid black;
}