.avatar {
    width: 100%;
    height: auto;
}

.cv-preview {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.175);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: calc(100% - 40px);
    width: 556.27px;
    font-size: 0.9em;
}

.main-preview {
    display: flex;
    flex: 1;
}

.preview-header, .content, .sidebar {
    padding: 20px;
}

.preview-header {
    background-color: #457B9D;
    height: 50px;
    color: white;
    border-radius: 5px 5px 0 0;
}

.preview-header h1, .preview-header p {
    margin: 0;
}


.content {
    flex-basis: 73%;
    word-wrap: break-word; /* allow words to break */
    overflow-wrap: break-word; /* allow words to break between letters */
}

.content h3 {
    margin: 10px 0;
}

.sidebar {
    background-color: #EEEEEE;
    flex-basis: 27%;
    max-width: 27%;
    word-wrap: break-word;
}

.experience-preview {
    display: flex;
    gap: 15px;
    line-height: 0.6;
}

.education-preview {
    display: flex;
    gap: 30px;
    line-height: 0.6;
}